<h1>Burrito Genie.</h1>
<img src="https://s3.amazonaws.com/burritogenie/images/burritoswami.png"><br /><br />
<img src="https://s3.amazonaws.com/burritogenie/images/burrito.gif"><br /><br />
<p>When he is on it is on.</p>

<hr />
						Charges <br />
						<%= form_tag charges_path do %>
						 <article>
						   <label class="amount">
						     <span>Amount: $5.00</span>
						   </label>
						</article>

						 <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
						   data-key="TODO: Key"
						   data-description="A month's subscription"
						   data-amount="500"></script>
						<% end %>
