	<div class="row">
	<div class="col-md-12 text-center">
	<br /><br />
				<h1>Burrito Genie.</h1>
				<img src="https://s3.amazonaws.com/burritogenie/images/burritoswami.png"><br /><br />
				<p>When he is on it is on.</p>
	</div> <!-- end md-12 -->
	</row><!-- end row --> 
	<div class="row">
							<div class="col-md-4"></div><!-- end md-4 -->
							<div class="col-md-4 text-center">
								<img src="https://s3.amazonaws.com/burritogenie/images/burrito.gif" height="200"> <br />
															<%= form_tag charges_path, id: 'chargeForm' do %>
													    <script src="https://checkout.stripe.com/checkout.js"></script>
													    <%= hidden_field_tag 'stripeToken' %>
													    <%= hidden_field_tag 'stripeEmail' %>  
													    <button id="btn-buy" type="button" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-share-alt"></span> Burrito Genie, Send Me a Burrito!</button>
													    <script>
													    var handler = StripeCheckout.configure({
													      key: '<%= Rails.configuration.stripe[:publishable_key] %>',
													      token: function(token, arg) {
													        document.getElementById("stripeToken").value = token.id;
													        document.getElementById("stripeEmail").value = token.email;
													        document.getElementById("chargeForm").submit();
													      }
													    });
													     document.getElementById('btn-buy').addEventListener('click', function(e) {
													      handler.open({
													        name: 'One Burrito',
													        description: 'One Burrito, Delivered ($10.00)',
													        amount: 1000
													    });
													    e.preventDefault();
													   })
													  </script>
													<% end %>
							</div><!-- end md-4 -->
							<div class="col-md-4"></div><!-- end md-4 -->

	</div><!-- end row -->