<p>Thank you for using the BurritoGenie.</p>

<p>You order of:
	(1) <%= @purchase.wish.wish_type %> Burrito was received at <%= @purchase.created_at %> and will be delivered promptly.</p>
	<p>The BurritoGenie billed your card: <%= @purchase.amount %></p>