<br/><br/><br/><br/><br/><br/>
<div class="row"> 
<div class="col-md-12 text-center">
Your order has been placed, your card has been charged, the burrito Genie will be there in 40 minutes. Thank you. 
</div>
</div> <!-- end row -->
