<!DOCTYPE html>
<html>
<head>
  <title>Burritogenie | When He Is On It Is On.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
			<div class="container">
					<div class="row">
								<div class="col-md-12"><%= yield %>
								</div><!-- end col-md-12 -->
					</div><!-- end row --> 
			</div><!-- end container --> 
</body>
</html>
