<!DOCTYPE html>
<html>
<head>
	<title>Burrito Genie</title>
</head>
<body>
	<%= yield %>
	<p>Humbly At Your Service, </p>
	<h1>Burrito<span id="logo2">Genie</span></h1>
<img src="https://s3.amazonaws.com/burritogenie/images/genie350.png"><br />

 
</body>
</html>